<!DOCTYPE html>
<html lang="fr">
<head>
	<title>CV 24 le gestionnaire de CV !</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div id="projet">
		<h1>CV 24 le gestionnaire de CV en ligne !</h1>
		<p>Version : 0.3</p>
	</div>
	<div id="membres">
		<h2>Membres du groupe :</h2>
		<table>		
		<tr>
			<th>Nom</th>
			<th>Prenom</th>
			<th>Numéro d'Etudiant</th>
		</tr>
		<tr>
			<td>Mamou</td>
			<td>Lounas</td>
			<td>21811913</td>
		</tr>
		<tr>
			<td>Chabana</td>
			<td>Liza</td>
			<td>21811913</td>
		</tr>	
		</table>	
	</div>
	<img src="/img/univ.png" alt="Logo de l'université">
</body>

</html>